/*
@package Sunset-theme
  The Main CSS File For The Theme
*/
/*
	Font Icon
	------------------------------------------------
*/
@font-face {
  font-family: 'sunset-icon';
  src: url("../fonts/font-icons/sunset-icon.eot?o1l4o7");
  src: url("../fonts/font-icons/sunset-icon.eot?o1l4o7#iefix") format("embedded-opentype"), url("../fonts/font-icons/sunset-icon.ttf?o1l4o7") format("truetype"), url("../fonts/font-icons/sunset-icon.woff?o1l4o7") format("woff"), url("../fonts/font-icons/sunset-icon.svg?o1l4o7#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sunset-icon';
  src: url("../fonts/fonts/sunset-icon.eot?b25uoy");
  src: url("../fonts/fonts/sunset-icon.eot?b25uoy#iefix") format("embedded-opentype"), url("../fonts/fonts/sunset-icon.ttf?b25uoy") format("truetype"), url("../fonts/fonts/sunset-icon.woff?b25uoy") format("woff"), url("../fonts/fonts/sunset-icon.svg?b25uoy#sunset-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
.sunset-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sunset-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sunset-twitter:before {
  content: "\e900"; }

.sunset-googleplus:before {
  content: "\e901"; }

.sunset-facebook:before {
  content: "\e902"; }

.sunset-audio:before {
  content: "\e800"; }

.sunset-chevron-left:before {
  content: "\e801"; }

.sunset-chevron-right:before {
  content: "\e802"; }

.sunset-close:before {
  content: "\e803"; }

.sunset-comment:before {
  content: "\e804"; }

.sunset-link:before {
  content: "\e805"; }

.sunset-loading:before {
  content: "\e806"; }

.sunset-logo:before {
  content: "\e807"; }

.sunset-menu:before {
  content: "\e808"; }

.sunset-pencil:before {
  content: "\e809"; }

.sunset-pics:before {
  content: "\e80a"; }

.sunset-search:before {
  content: "\e80b"; }

.sunset-share:before {
  content: "\e80c"; }

.sunset-tag:before {
  content: "\e80d"; }

.sunset-video:before {
  content: "\e80e"; }

.sunset-github:before {
  content: "\eab0"; }

/* ---------------------------------------------------------------------- */
.header-content, .nav-container li a, .post.image-format .post-title, .post.image-format .post-meta, .type-post.image-format .post-title, .type-post.image-format .post-meta, .page.image-format .post-title, .page.image-format .post-meta {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

@keyframes spin {
  from {
    transform: rotate(360deg); }
  to {
    transform: rotate(0deg); } }
/*
@package Sunset-theme
  The Main CSS File For The Theme
*/
/* ----------------------------- Start Global -----------------------------*/
body {
  font-family: 'Raleway', sans-serif;
  position: relative; }
  body.no-scroll {
    overflow: hidden; }

a {
  -webkit-transition: color 220ms ease-in-out;
  transition: color 220ms ease-in-out; }
  a:focus, a:hover {
    text-decoration: none; }

textarea {
  resize: none; }

/* ----------------------------- End Global -----------------------------*/
/* ----------------------------- Start Framework -----------------------------*/
.user-error-msg {
  display: none;
  color: #c50000;
  font-size: 12px;
  position: absolute;
  bottom: -5px; }

.sunset-tooltip, .sunset-popover {
  color: #cd1b58;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer; }

.no-padding {
  padding: 0 !important; }

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.table {
  display: table;
  width: 100%;
  height: 100%; }

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.site-title {
  margin: 0;
  font-size: 80px; }

.site-description {
  font-size: 14px;
  margin-top: 1em; }

.image {
  width: 100%; }
  .image img {
    width: 100%; }

.btn {
  padding: 6px 10px 4px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-color: transparent; }

.btn-gray {
  border-color: #898989;
  color: #898989; }
  .btn-gray:hover {
    color: #fff;
    border-color: #333333;
    background-color: #333333; }

.btn-dark {
  padding: 12px 20px 8px;
  border-color: #333333;
  background-color: #333333;
  color: #fff; }

.overlay {
  position: relative; }
  .overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
    -webkit-transition: background 320ms ease-in-out;
    transition: background 320ms ease-in-out; }

.share-icon {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 7px;
  right: 7px;
  z-index: 5;
  text-align: center;
  line-height: 30px; }
  .share-icon span {
    color: #fff;
    font-size: 14px; }

.no-wrapers:after, .no-wrapers:before {
  display: none !important; }

.photo-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
  z-index: 5;
  font-size: 13px; }

.sunset-load-more {
  margin: 50px auto 0;
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
  opacity: 0.5;
  font-size: 22px;
  display: inline-block;
  color: #222;
  cursor: pointer; }
  .sunset-load-more .text {
    display: block; }
  .sunset-load-more:hover, .sunset-load-more:focus, .sunset-load-more.loading {
    opacity: 1; }
  .sunset-load-more.loading {
    cursor: default; }
  .sunset-load-more span {
    display: block; }

.spin {
  animation-name: spin;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.page-header {
  padding: 50px 0; }
  .page-header .page-title {
    font-size: 48px;
    font-weight: 200; }

.sidebar-icon {
  font-size: 12px; }
  .sidebar-icon span {
    cursor: pointer;
    color: #fff; }
    .sidebar-icon span:hover {
      color: #f17a53; }

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
  cursor: e-resize; }

/* ----------------------------- End Framework -----------------------------*/
/* -------------------------- Start WordPress ---------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* -------------------------- End WordPress ---------------------------------*/
/* ----------------------------- Start Header -----------------------------*/
.header-container {
  display: block;
  height: 326px;
  position: relative; }
  .header-container .sidebar-icon {
    position: absolute;
    top: 15px;
    right: 18px;
    font-size: 10px; }

.header-content {
  color: #fff; }

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center; }
  .nav-container .bg-light {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 19px 0 13px; }
  .nav-container .navbar-nav {
    margin: auto;
    line-height: 1; }
  .nav-container li {
    padding: 0;
    padding-bottom: 4px;
    line-height: 1;
    border-bottom: 2px solid  transparent;
    margin: 0 33px; }
    .nav-container li.active a {
      color: #fff; }
      .nav-container li.active a:after {
        background-color: #fff;
        -webkit-transform: translateY(0px);
        transform: translateY(0px); }
    .nav-container li.active a {
      color: #fff; }
    .nav-container li a {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      -webkit-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
      position: relative; }
      .nav-container li a:hover, .nav-container li a:focus {
        color: #fff; }
        .nav-container li a:hover:after, .nav-container li a:focus:after {
          background-color: #fff;
          -webkit-transform: translateY(0px);
          transform: translateY(0px); }
      .nav-container li a:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: translateY(10px);
        transform: translateY(10px); }

header .row > * {
  padding: 0; }

/* ----------------------------- End Header -----------------------------*/
/* ----------------------------- Start Sidebar -----------------------------*/
.sunset-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f;
  z-index: 99;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  -webkit-transition: transform 320ms ease-in-out;
  transition: transform 320ms ease-in-out; }
  .sunset-sidebar.closed-sidebar {
    transform: translateX(100%); }
  .sunset-sidebar .sunset-sidebar-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; }
    .sunset-sidebar .sunset-sidebar-container .sunset-icon {
      padding: 10px 9px 0;
      display: inline-block; }
    .sunset-sidebar .sunset-sidebar-container .search-icon {
      display: block;
      margin-top: 7px; }
    .sunset-sidebar .sunset-sidebar-container h2 {
      color: #fff; }
    .sunset-sidebar .sunset-sidebar-container ul, .sunset-sidebar .sunset-sidebar-container li {
      list-style-type: none;
      padding: 0; }
    .sunset-sidebar .sunset-sidebar-container .sunset-sidebar-scroll {
      margin-top: 10px;
      padding: 10px 9px;
      list-style-type: none;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-bottom: 100px; }
  .sunset-sidebar a {
    color: #eee; }
    .sunset-sidebar a:hover {
      color: #bababa; }

/* ----------------------------- End Sidebar -----------------------------*/
/* ---------------------------- Start Footer --------------------------------*/
.site-footer {
  background-color: #333333;
  padding: 30px 0 20px;
  margin-top: 140px;
  color: #fff; }
  .site-footer h6 {
    font-size: 12px; }

/* ----------------------------- End Footer --------------------------------*/
/* ---------------------------------- Start Widgets -------------------------*/
.widgets-area {
  padding: 0 5px; }
  .widgets-area ul, .widgets-area li {
    list-style-type: none;
    padding: 0; }
  .widgets-area .sunset-widget {
    margin-bottom: 35px; }
    .widgets-area .sunset-widget h2.widget-title {
      font-size: 15px;
      font-weight: 300;
      letter-spacing: 0.2px;
      margin-bottom: 20px;
      background-color: #333;
      border-radius: 35px;
      padding: 8px 20px;
      text-align: center; }
  .widgets-area .profile-widget {
    background-color: #1f1f1f;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
    border-bottom: 1px solid #333; }
    .widgets-area .profile-widget h5 {
      color: #fff;
      font-weight: 200;
      font-size: 26px; }
    .widgets-area .profile-widget p {
      font-weight: 300;
      font-size: 12px; }
    .widgets-area .profile-widget ul {
      margin-bottom: 0; }
    .widgets-area .profile-widget .image {
      width: 124px;
      height: 124px;
      border-radius: 50%;
      overflow: hidden;
      margin: -5px auto 20px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
    .widgets-area .profile-widget .icons-wraper li {
      display: inline-block;
      padding: 0 10px; }
      .widgets-area .profile-widget .icons-wraper li .sunset-icon {
        color: #fff; }
        .widgets-area .profile-widget .icons-wraper li .sunset-icon:hover {
          color: #f17a53; }
  .widgets-area .widget_categories ul {
    padding-left: 15px; }
    .widgets-area .widget_categories ul li {
      margin-bottom: 12px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .widgets-area .widget_categories ul li a {
        font-size: 14px;
        font-weight: 300; }
      .widgets-area .widget_categories ul li span {
        display: inline-block;
        color: #fff;
        padding: 0px 5px;
        background-color: #999;
        font-size: 14px;
        border-radius: 5px; }
  .widgets-area .tagcloud {
    text-align: center;
    padding: 0 10px; }
    .widgets-area .tagcloud a {
      display: inline-block;
      padding: 2px 5px;
      background-color: #6A6A6A;
      border-radius: 10px; }
  .widgets-area .widget_recent_comments ul {
    padding-left: 15px; }
  .widgets-area .widget_recent_comments li {
    padding: 0;
    font-size: 12px;
    color: #aaa;
    margin-bottom: 20px; }
    .widgets-area .widget_recent_comments li a {
      font-size: 12px;
      font-weight: 300; }
    .widgets-area .widget_recent_comments li span {
      color: #fff;
      text-transform: capitalize;
      display: block;
      border-bottom: 1px solid #333;
      padding-bottom: 5px;
      margin-bottom: 7px;
      font-weight: 300;
      font-size: 14px; }
  .widgets-area .widget_media_gallery > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .widgets-area .widget_media_gallery figure.gallery-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
    .widgets-area .widget_media_gallery figure.gallery-item img {
      width: 150%; }
  .widgets-area .popular-posts ul {
    padding-left: 15px; }
  .widgets-area .popular-posts li {
    margin-bottom: 20px; }
    .widgets-area .popular-posts li .media img {
      margin-right: 10px;
      margin-top: 7px; }
    .widgets-area .popular-posts li a.widget-post-title {
      font-size: 14px;
      display: block; }
    .widgets-area .popular-posts li .widget-comments {
      color: #999;
      font-size: 12px;
      -webkit-transition: color 220ms ease-in-out;
      transition: color 220ms ease-in-out; }
      .widgets-area .popular-posts li .widget-comments span:last-of-type:hover {
        color: #aaa; }

/* ----------------------------------- End Widgets -------------------------*/
/* -------------------------- Start Post ---------------------------------*/
.posts-container article {
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0; }
  .posts-container article.reveal {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.post, .type-post, .page {
  padding-top: 50px;
  margin-bottom: 35px;
  padding: 50px calc( 140px - 30px) 0;
  /* Image Format */
  /* Audio Format */
  /* Video Format */
  /* Gallery Format */
  /* Quote Format */
  /* Link Format */
  /* Aside Format */ }
  .post .post-title, .type-post .post-title, .page .post-title {
    font-size: 48px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 22px; }
    .post .post-title a, .type-post .post-title a, .page .post-title a {
      color: #000000; }
    .post .post-title:before, .post .post-title:after, .type-post .post-title:before, .type-post .post-title:after, .page .post-title:before, .page .post-title:after {
      content: "~";
      position: relative;
      display: inline-block; }
    .post .post-title:before, .type-post .post-title:before, .page .post-title:before {
      margin-right: 10px; }
    .post .post-title:after, .type-post .post-title:after, .page .post-title:after {
      margin-left: 10px; }
  .post .post-meta, .type-post .post-meta, .page .post-meta {
    font-size: 13px;
    margin-right: 0;
    color: #898989;
    margin-bottom: 30px; }
    .post .post-meta span, .type-post .post-meta span, .page .post-meta span {
      font-weight: 300; }
    .post .post-meta a, .type-post .post-meta a, .page .post-meta a {
      color: #898989;
      font-weight: 500; }
      .post .post-meta a:focus, .post .post-meta a:hover, .type-post .post-meta a:focus, .type-post .post-meta a:hover, .page .post-meta a:focus, .page .post-meta a:hover {
        color: #333333; }
  .post .post-image, .type-post .post-image, .page .post-image {
    width: 100%;
    height: 332px; }
    .post .post-image:hover:after, .type-post .post-image:hover:after, .page .post-image:hover:after {
      background-color: transparent; }
  .post .post-text, .type-post .post-text, .page .post-text {
    margin: 28px 0 20px;
    padding-left: 10px;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: 0.02em; }
  .post .post-footer, .type-post .post-footer, .page .post-footer {
    padding: 10px;
    margin-top: 22px;
    border-bottom: 4px solid rgba(98, 98, 98, 0.06);
    font-weight: 500;
    font-size: 12px;
    color: #898989;
    text-transform: uppercase;
    letter-spacing: 0.5px; }
    .post .post-footer a, .type-post .post-footer a, .page .post-footer a {
      padding: 0 5px;
      font-size: 12px;
      color: #898989; }
      .post .post-footer a:hover, .type-post .post-footer a:hover, .page .post-footer a:hover {
        color: #333333; }
      .post .post-footer a span, .type-post .post-footer a span, .page .post-footer a span {
        margin-left: 7px; }
    .post .post-footer span.sunset-icon, .type-post .post-footer span.sunset-icon, .page .post-footer span.sunset-icon {
      color: #898989;
      font-size: 11px; }
  .post.single, .type-post.single, .page.single {
    margin-top: 50px;
    padding: 0; }
  .post.image-format .post-title, .post.image-format .post-meta, .type-post.image-format .post-title, .type-post.image-format .post-meta, .page.image-format .post-title, .page.image-format .post-meta {
    position: relative;
    z-index: 5;
    color: #fff; }
    .post.image-format .post-title a, .post.image-format .post-meta a, .type-post.image-format .post-title a, .type-post.image-format .post-meta a, .page.image-format .post-title a, .page.image-format .post-meta a {
      color: #fff; }
  .post.image-format .post-text, .type-post.image-format .post-text, .page.image-format .post-text {
    margin-bottom: 0; }
  .post.image-format .post-image, .type-post.image-format .post-image, .page.image-format .post-image {
    height: 507px;
    padding-top: 16px;
    position: relative; }
  .post.image-format .post-footer, .type-post.image-format .post-footer, .page.image-format .post-footer {
    margin-top: 5px; }
  .post.audio-format .post-body, .type-post.audio-format .post-body, .page.audio-format .post-body {
    position: relative; }
  .post.audio-format .post-title, .post.audio-format .post-meta, .type-post.audio-format .post-title, .type-post.audio-format .post-meta, .page.audio-format .post-title, .page.audio-format .post-meta {
    display: inline-block; }
  .post.audio-format .post-title, .type-post.audio-format .post-title, .page.audio-format .post-title {
    margin-right: 16px; }
  .post.audio-format .post-footer, .type-post.audio-format .post-footer, .page.audio-format .post-footer {
    margin-top: 5px; }
  .post.audio-format .audio-file > *, .type-post.audio-format .audio-file > *, .page.audio-format .audio-file > * {
    width: 100%; }
  .post.audio-format iframe, .type-post.audio-format iframe, .page.audio-format iframe {
    height: 166px; }
  .post.video-format .video-container, .type-post.video-format .video-container, .page.video-format .video-container {
    position: relative;
    margin-bottom: 40px; }
  .post.video-format .post-footer, .type-post.video-format .post-footer, .page.video-format .post-footer {
    margin-top: 40px; }
  .post.video-format .video-file > *, .type-post.video-format .video-file > *, .page.video-format .video-file > * {
    width: 100%; }
  .post.video-format .share-icon, .type-post.video-format .share-icon, .page.video-format .share-icon {
    top: auto;
    bottom: -38px; }
  .post.gallery-format .post-title, .type-post.gallery-format .post-title, .page.gallery-format .post-title {
    margin-top: 50px; }
  .post.gallery-format .post-image, .type-post.gallery-format .post-image, .page.gallery-format .post-image {
    position: relative; }
  .post.gallery-format .post-footer, .type-post.gallery-format .post-footer, .page.gallery-format .post-footer {
    margin-top: 20px; }
  .post.gallery-format .preview-container, .type-post.gallery-format .preview-container, .page.gallery-format .preview-container {
    position: relative;
    display: block;
    width: 100%;
    line-height: 0;
    cursor: pointer;
    -webkit-transition: background 220ms ease-in-out;
    transition: background 220ms ease-in-out; }
    .post.gallery-format .preview-container.left, .type-post.gallery-format .preview-container.left, .page.gallery-format .preview-container.left {
      padding: 20px 60px 20px 25px;
      text-align: left;
      border-radius: 0 35px 35px 0; }
      .post.gallery-format .preview-container.left .preview-image, .type-post.gallery-format .preview-container.left .preview-image, .page.gallery-format .preview-container.left .preview-image {
        right: 2px; }
    .post.gallery-format .preview-container.right, .type-post.gallery-format .preview-container.right, .page.gallery-format .preview-container.right {
      padding: 20px 25px 20px 60px;
      text-align: right;
      border-radius: 35px 0 0 35px; }
      .post.gallery-format .preview-container.right .preview-image, .type-post.gallery-format .preview-container.right .preview-image, .page.gallery-format .preview-container.right .preview-image {
        left: 2px; }
    .post.gallery-format .preview-container .preview-image, .type-post.gallery-format .preview-container .preview-image, .page.gallery-format .preview-container .preview-image {
      position: absolute;
      top: 2px;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background-color: #ccc;
      transform: scale(0);
      -webkit-transition: transform 220ms ease-in-out;
      transition: transform 220ms ease-in-out; }
    .post.gallery-format .preview-container:hover, .type-post.gallery-format .preview-container:hover, .page.gallery-format .preview-container:hover {
      background-color: rgba(0, 0, 0, 0.8); }
      .post.gallery-format .preview-container:hover .preview-image, .type-post.gallery-format .preview-container:hover .preview-image, .page.gallery-format .preview-container:hover .preview-image {
        transform: scale(1); }
  .post.gallery-format .sunset-icon, .type-post.gallery-format .sunset-icon, .page.gallery-format .sunset-icon {
    font-size: 30px; }
  .post.gallery-format .carousel-control-prev, .post.gallery-format .carousel-control-next, .type-post.gallery-format .carousel-control-prev, .type-post.gallery-format .carousel-control-next, .page.gallery-format .carousel-control-prev, .page.gallery-format .carousel-control-next {
    overflow: hidden;
    opacity: 1; }
  .post.gallery-format .photo-caption, .type-post.gallery-format .photo-caption, .page.gallery-format .photo-caption {
    transform: translateY(100%);
    -webkit-transition: transform 220ms ease-in-out;
    transition: transform 220ms ease-in-out; }
  .post.gallery-format:hover .photo-caption, .type-post.gallery-format:hover .photo-caption, .page.gallery-format:hover .photo-caption {
    transform: translateY(0); }
  .post.quote-format h6, .type-post.quote-format h6, .page.quote-format h6 {
    font-size: 18px;
    color: #898989; }
    .post.quote-format h6:before, .type-post.quote-format h6:before, .page.quote-format h6:before {
      margin-right: 5px; }
    .post.quote-format h6:after, .type-post.quote-format h6:after, .page.quote-format h6:after {
      margin-left: 5px; }
  .post.quote-format a, .type-post.quote-format a, .page.quote-format a {
    color: #000; }
  .post.quote-format .post-text p, .type-post.quote-format .post-text p, .page.quote-format .post-text p {
    display: inline; }
  .post.quote-format .post-text h2, .type-post.quote-format .post-text h2, .page.quote-format .post-text h2 {
    font-size: 42px;
    font-weight: 200;
    line-height: 1.3em;
    letter-spacing: 0.02em;
    -webkit-transition: font 0.2s ease-in-out;
    transition: font 0.2s ease-in-out; }
    .post.quote-format .post-text h2:before, .post.quote-format .post-text h2:after, .type-post.quote-format .post-text h2:before, .type-post.quote-format .post-text h2:after, .page.quote-format .post-text h2:before, .page.quote-format .post-text h2:after {
      position: relative;
      display: inline-block;
      font-weight: 500;
      color: #333333; }
    .post.quote-format .post-text h2:before, .type-post.quote-format .post-text h2:before, .page.quote-format .post-text h2:before {
      content: '"';
      margin-right: 5px; }
    .post.quote-format .post-text h2:after, .type-post.quote-format .post-text h2:after, .page.quote-format .post-text h2:after {
      content: '"';
      margin-left: 5px; }
    .post.quote-format .post-text h2:hover, .type-post.quote-format .post-text h2:hover, .page.quote-format .post-text h2:hover {
      font-size: 42.2px; }
  .post.link-format .post-header, .type-post.link-format .post-header, .page.link-format .post-header {
    padding-bottom: 50px;
    border-bottom: 4px solid rgba(98, 98, 98, 0.06); }
  .post.link-format .share-icon-container, .type-post.link-format .share-icon-container, .page.link-format .share-icon-container {
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
    background-color: #656565;
    color: #fff;
    font-size: 30px;
    margin: 10px auto;
    -webkit-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out; }
    .post.link-format .share-icon-container:hover, .type-post.link-format .share-icon-container:hover, .page.link-format .share-icon-container:hover {
      box-shadow: 0 0 10px 5px #ddd; }
  .post.aside-format .post-content, .type-post.aside-format .post-content, .page.aside-format .post-content {
    background-color: #f6f6f6; }
  .post.aside-format .post-text, .type-post.aside-format .post-text, .page.aside-format .post-text {
    margin-top: 0;
    padding-left: 0;
    font-size: 15px;
    color: #333333; }
  .post.aside-format .post-meta, .type-post.aside-format .post-meta, .page.aside-format .post-meta {
    margin-bottom: 10px; }
  .post.aside-format .media, .type-post.aside-format .media, .page.aside-format .media {
    position: relative; }
    .post.aside-format .media .image, .type-post.aside-format .media .image, .page.aside-format .media .image {
      width: 138px;
      height: 138px;
      border-radius: 50%;
      overflow: hidden;
      margin: 25px 5px -10px 25px; }
    .post.aside-format .media .media-body, .type-post.aside-format .media .media-body, .page.aside-format .media .media-body {
      padding: 20px 20px 0; }
  .post.aside-format .post-footer, .type-post.aside-format .post-footer, .page.aside-format .post-footer {
    background-color: #ededed;
    padding-left: 190px;
    margin-top: 0;
    border: 0; }

.post-nav-link {
  padding: 20px 0 50px; }
  .post-nav-link a {
    padding: 0 10px;
    display: inline-block;
    position: relative;
    top: -2px;
    color: #333;
    -webkit-transition: padding 220ms ease-in-out;
    transition: padding 220ms ease-in-out; }
    .post-nav-link a:hover {
      padding-left: 13px;
      padding-right: 13px; }

.comments-area .comment {
  margin-bottom: 50px; }
  .comments-area .comment .comment-metadata {
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 55px; }
    .comments-area .comment .comment-metadata a {
      color: #999; }
    .comments-area .comment .comment-metadata .edit-link a {
      font-weight: 500;
      color: #333;
      text-transform: uppercase;
      margin-left: 8px; }
  .comments-area .comment .avatar {
    border-radius: 50%;
    margin-right: 10px; }
  .comments-area .comment .comment-author .fn {
    text-transform: capitalize; }
  .comments-area .comment .comment-content {
    padding-left: 30px; }
.comments-area .comment-form input.form-control {
  width: 40%;
  display: inline-block; }
.comments-area .comment-form .comment-form-comment {
  position: relative; }
  .comments-area .comment-form .comment-form-comment textarea.form-control {
    width: 60%;
    display: inline-block;
    resize: none; }
  .comments-area .comment-form .comment-form-comment span {
    position: absolute;
    top: 15px; }
.comments-area label {
  margin-left: 8px; }
.comments-area span.required {
  color: #f00;
  font-size: 35px;
  line-height: 9px;
  display: inline-block;
  margin-left: 10px;
  position: relative;
  top: 15px; }

/* -------------------------- End Post ---------------------------------*/
/* -------------------------- Start Contact Form -------------------------------*/
.sunset-contact-form {
  margin-top: 60px;
  position: relative; }
  .sunset-contact-form .form-group {
    padding-bottom: 20px;
    position: relative; }
    .sunset-contact-form .form-group .error-message {
      background-color: #f3f3f3;
      border-color: #aa0909; }
  .sunset-contact-form .feedbacks {
    position: relative;
    height: 50px; }
    .sunset-contact-form .feedbacks p {
      display: none;
      position: absolute;
      top: 5px;
      font-size: 14px;
      width: 50%; }
      .sunset-contact-form .feedbacks p.processing-feedback {
        color: #007dd7; }

.contact .post-text {
  width: 80%;
  margin: 50px auto; }

/* -------------------------- End Contact Form ---------------------------------*/

/*# sourceMappingURL=master.css.map */
