
/*
@package Sunset-theme
  The Main CSS File For The Theme
*/
/*
	Font Icon
	------------------------------------------------
*/

@font-face {
    font-family: 'sunset-icon';
    src:    url('../fonts/font-icons/sunset-icon.eot?dxcjr7');
    src:    url('../fonts/font-icons/sunset-icon.eot?dxcjr7#iefix') format('embedded-opentype'),
        url('../fonts/font-icons/sunset-icon.ttf?dxcjr7') format('truetype'),
        url('../fonts/font-icons/sunset-icon.woff?dxcjr7') format('woff'),
        url('../fonts/font-icons/sunset-icon.svg?dxcjr7#sunset-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.sunset-icon { font-family: 'sunset-icon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; } .sunset-audio:before { content: "\e800"; } .sunset-chevron-left:before { content: "\e801"; } .sunset-chevron-right:before { content: "\e802"; } .sunset-close:before { content: "\e803"; } .sunset-comment:before { content: "\e804"; } .sunset-link:before { content: "\e805"; } .sunset-loading:before { content: "\e806"; } .sunset-logo:before { content: "\e807"; } .sunset-menu:before { content: "\e808"; } .sunset-pencil:before { content: "\e809"; } .sunset-pics:before { content: "\e80a"; } .sunset-search:before { content: "\e80b"; } .sunset-share:before { content: "\e80c"; } .sunset-tag:before { content: "\e80d"; } .sunset-video:before { content: "\e80e"; }

/* ----------------------------- Start Global -----------------------------*/
body{
  font-family: 'Raleway', sans-serif;
}

a{

  @include animate(color,220ms);
  &:focus,&:hover{
    text-decoration: none;
  }
}

/* ----------------------------- End Global -----------------------------*/
/* ----------------------------- Start Framework -----------------------------*/
.background-image{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.table{
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell{
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.site-title{
  margin: 0;
  font-size: 80px;
}
.site-description{
  font-size: 14px;
  margin-top: 1em;
}

.image{
  width: 100%;
  img{
    width: 100%;
  }
}
.btn{
  padding:6px 10px 4px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 0;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-color: transparent;
  &:hover{
    background-color: transparent;
    border-color: transparent;
  }
}
.btn-gray{
  border-color: $lightGray;
  color: $lightGray;
  &:hover{
    color: #fff;
    border-color: $darkGray;
    background-color: $darkGray;
  }
}
.overlay{
  position: relative;
  &:after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.10);
    box-shadow: inset 0 0 15px rgba(0,0,0,0.35);
    @include animate(background,320ms);
  }
}
.share-icon{
      position: absolute;
      background-color: rgba(#000,0.4);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: 7px;
      right: 7px;
      z-index: 5;
      text-align: center;
      line-height: 30px;
      span{
        color: #fff;
        font-size: 14px;
      }
    }
  .no-wrapers{
      &:after,&:before{
        display: none !important;
      }
  }
  .photo-caption{
   		position: absolute;
   		bottom: 0;
   		left: 0;
   		right: 0;
   		color: #fff;
   		text-align: center;
   		width: 100%;
   		padding: 30px 0;
   		background-color: rgba(#000,0.4);
   		margin-bottom: 0;
   		z-index: 5;
   		font-size: 13px;
      // height: 95px;
  }
  .sunset-load-more{
    // width: 120px;
    margin: 50px auto 0;
    @include animate(all,220ms);
    opacity: 0.5;
    font-size: 22px;
    display: inline-block;
    color: #222;
    cursor: pointer;
    .text{
      display: block;
    }
    &:hover,
    &:focus,
    &.loading{
      opacity: 1;
    }
    &.loading{
      cursor: default;
    }
    span{
      display: block;
    }
  }
  .spin{
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .page-header{
    padding: 50px 0;
    .page-title{
      font-size: 48px;
      font-weight: 200;
    }
  }
/* ----------------------------- End Framework -----------------------------*/
